<h1>Checkout - Invoice #<%= @invoice.number %></h1>
<%= render "show" %>
<div class="container">
  <div class="alert alert-success" role="alert">
    ✓ Invoice Paid - Thank you!
  </div>
  Proceed to <a style="color:#4b1310;" href="/my-courses/">Your Courses</a>
</div>
