    <div class="col roomlist border" style="zoom:.8">
      <ul class="list-unstyled">
        <% @users.each do |user| %>
          <li><%= user.name %></li>
        <% end %>
      </ul>
    </div>
    <div class="col-3 messages border" style="zoom:.8; padding:0;">
      <div id="incoming" style="height:75%; width:100%">
<pre style="padding-left:2px;">
<% @lesson.messages.each do |message| %>
<%= "#{message["from"]}:#{message["content"]}" %>
<% end %>
</pre>
      </div>
      <div class="" id="chatBox" style="width:100%">
            <textarea id='chatMessage' rows="2" cols="10" class="form-control" placeholder="Write your message here." style="width: 87%; float:left;"></textarea>
            <span class="btn-sm btn-default" id='chatButton' style="float:right; cursor:pointer;">Submit</span>
      </div>
    </div>
