    <div class="col roomlist border" style="zoom:.8">
      <ul class="list-unstyled">
        <% @users.each do |user| %>
          <li><%= user.name %></li>
        <% end %>
      </ul>
    </div>
    <div class="col-3 messages border" style="zoom:.8; padding:0;">
      <div class="" style="height:75%; width:100%">
<pre>
<% @messages.each do |message| %>
<%= message.strip()%>
<% end %>
</pre>
      </div>
      <div class="" style="width:100%">
            <textarea name="message" rows="2" cols="10" class="form-control" placeholder="Write your message here." style="width: 87%; float:left;"></textarea>
            <span class="btn-sm btn-default" style="float:right;">Submit</span>
      </div>
    </div>
