<%= toolbar([link_to('New Article', new_article_path, class:"btn btn-sm btn-default")]) %>

<h1>Articles</h1>

<%= render(TableComponent.new(records:@articles,fields:[:title])) do |component| %>
  <% component.with(:placeholder) do %>
    There are no articles yet.
  <% end %>
<% end %>
