<div class="container flashMessages">
  <% if notice %>
    <%== "<p class='alert alert-success'>#{notice}</p>" %>
<% end %>
  <% if alert %>
    <%== "<p class='alert alert-success'>#{alert}</p>" %>
<% end %>
</div>
