<% component.keys.each do |key| %>
  <% if(component.get_type(key) == "String" )%>
    <div class="field">
      <%= form.text_field "components[][args][#{key}]".to_sym, value:component.args[key], label:key.to_s.titleize, placeholder:component.get_default(key) %>
    </div>
<% end
end
%>
