<div class="component">
  <% if(component.present?) %>
    <%= form.select("components[][name]".to_sym, component_options, selected:component[:name], label:"Component Type",include_blank:"Select a component type...", label:"Name") %>
    <div class="component-preview" style="zoom:.8">
      <%= render("component_preview", component_args:(component[:name]+"_preview").camelcase.constantize.new.default ) %>
    </div>
    <div class="settings">
      <%= render("component_settings",form:form, component:component) %>
    </div>
  <% elsif(index == 0) %>
    <%= form.select "components[][name]".to_sym, component_options, label:"Component Type", include_blank:"Select a component type...", label:"Name" %>
    <div class="component-preview" style="zoom:.8">
    </div>
    <div class="settings">
    </div>
  <% end %>
</div>
<script type="text/javascript">
  $("select",".component").change((e)=>{
    wrapper = e.currentTarget.parentElement.parentElement
    $.ajax({
          url: `/component/${e.currentTarget.value}`,
          type: "GET",
          success:(data)=>{
            prev = $(".component-preview",wrapper)
            prev.empty()
            prev.append(data)
          }
      });

  })
</script>
