<% info = (component[:name]).camelcase.constantize.component_params.to_h
  info.keys.each do |key|; if(component[:args][key].present?); value = component[:args][key]; else; value = "";end %>
    <div class="field">
      <%= form.text_field "page[components[][args][#{key}]]".to_sym, value:value, label:key.to_s.titleize, placeholder:info[key][:default] %>
    </div>
<% end %>
