<p id='notice'><%= notice %></p>
<%= toolbar([back_button(:back),link_to('New Page', new_page_path, class: 'btn btn-sm btn-default')]) %>

<h1>Pages</h1>
<%= render(TableComponent.new(records:@pages,fields:[:name_titleize])) do |component| %>
  <% component.with(:header) do %>
    <%= component.table_header(fields:[:name]) %>
  <% end %>
  <% component.with(:placeholder) do %>
    There are no pages yet.
  <% end %>
<% end %>
