<div style="width:100%; text-align: center;">
  <img src="https://apz-training.herokuapp.com/assets/Waggie_Logo_tag_FORWEBSITE2.png" alt="" style="display: block; margin: auto; width:300px;">
</div>
<div style="width: 100%;padding-right: 15px;padding-left: 15px;margin-right: auto;margin-left: auto;">
<p>
  Hello Greg. This message is to notify you that <%= @user.name.to_s %> has just logged in.

  - WPZ Training Site
</p>
</div>
