<div style="width:100%; text-align: center;">
  <%= image_tag("umlogo_100_transparent.gif") %>
</div>
<div style="width: 100%;padding-right: 15px;padding-left: 15px;margin-right: auto;margin-left: auto;">
<p style="indent:3em;">Hello, <%= @user.name %>!
Just wanted to let you know a staging server has just been set up for Memorial UMC's Activity Center app, and you've been made an admin!
You can start out by <a href="https://church-sunday-school.herokuapp.com/">visiting the homepage</a>, or click <a href="https://church-sunday-school.herokuapp.com/users/sign_in">here</a> to sign in. If you haven't recieved a password in other communications
feel free use the "forgot password" option on the sign-in page to set your password on the new account.
</p>
<p style="indent:3em;">If you have any questions you can reach out to Greg at <a href="mailto:gmikeska07@gmail.com">gmikeska07@gmail.com</a>
</p>
<p style="indent:3em;">
 - The Dev team.
</p>
</div>
