<h3>Unfiled Lessons</h3>
<table class="table">
  <thead>
      <% if(current_user.isStaff?) %>
        <%= RecordComponent.new(fields:[:name, :description, :visibility]).header %>
      <% else %>
        <%= RecordComponent.new(fields:[:name, :description], edit:false, delete:false).header %>
      <% end %>
  </thead>

  <tbody>
    <% if(current_user.isStaff?) %>
      <%= render RecordComponent.with_collection(lessons,fields:[:name, :description, :visibility]) %>
    <% else %>
      <%= render RecordComponent.with_collection(lessons.select{|l| l.visible_to(current_user)},fields:[:name, :description], edit:false, delete:false) %>
    <% end %>
  </tbody>
</table>
