<script src="https://js.braintreegateway.com/web/dropin/1.22.1/js/dropin.js"></script>
<script src="https://js.braintreegateway.com/web/3.62.0/js/data-collector.min.js"></script>
<div id="dropin-container"></div>
<% if(@payment.payment_type == "Payment") %>
<button id="submit-button" class="button button--small button--green">Checkout</button>
<% else %>
<button id="submit-button" class="button button--small button--green">Give Now</button>
<% end %>
<style media="screen">
  .button {
  cursor: pointer;
  font-weight: 500;
  left: 3px;
  line-height: inherit;
  position: relative;
  text-decoration: none;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  -webkit-appearance: none;
  -moz-appearance: none;
  display: inline-block;
}

.button--small {
  padding: 10px 20px;
  font-size: 0.875rem;
}

.button--green {
  outline: none;
  background-color: #64d18a;
  border-color: #64d18a;
  color: white;
  transition: all 200ms ease;
}

.button--green:hover {
  background-color: #8bdda8;
  color: white;
}
</style>
<script type="text/javascript">
  var button = document.querySelector('#submit-button');

braintree.dropin.create({
  authorization: `<%= @client_token %>`,
  selector: '#dropin-container'
},
function (err, instance) {
  button.addEventListener('click', function () {
    instance.requestPaymentMethod(function (err, payload) {
      $.ajax({
            url: "<%= payment_braintree_processing_url(@payment) %>",
            data: payload,
            type: "POST",
            success:(data)=>{
              console.log(data)
              window.location = "<%= payment_paid_url(@payment) %>"
            }
        });
    });
  })
});
</script>
