<% if( @payment.invoice.present? )%>
<h1>Payment - Invoice #<%= @payment.invoice.number %></h1>
<% else %>
<h1>Payment - <%= @payment.payment_type %></h1>
<% end %>
Amount: <%= @payment.amount %> <br>
Payment Method: <%= @payment.payment_method.titleize %><br>
