<%= toolbar(link_to('New Payment', new_payment_path, class:"btn btn-sm btn-default")) %>

<h1>Payments</h1>

<%= render(TableComponent.new(records:@payments,fields:[:user_name, :amount, :category, :payment_method])) do |component| %>
  <% component.with(:placeholder) do %>
      There are no payments yet.
  <% end %>
<% end %>
