<div class="container">
  <strong>Attachments</strong><div class="w-100"></div>
    <% @lesson.files.each do |file| %>
    <div class="row">
      <% if(file.filename.to_s.split(".").last == "mpeg" || file.filename.to_s.split(".").last == "mpg" || file.filename.to_s.split(".").last == "mp4")
          preview = player_video(file,url_for(file))
        elsif(file.previewable?)
          preview = image_tag(url_for(file.preview(resize_to_limit: [200, 200]).processed), style:"max-width: 200px;")
        end
        heading = file.filename.to_s
        summary = "Placeholder for file summary."
        %>
      <%== attachment_info(preview, heading, summary) %>
    </div>
    <% end %>
</div>
