<div id="lessonCarousel" class="carousel" style="min-height:400px">
  <div class="carousel-inner border" style="max-width: 71%;">
    <% @lesson.slides.each_index do |index| %>
      <%= render "slide", lesson:@lesson, slide:@lesson.slides[index], index:index  %>
    <% end %>
    <% if(@quiz.present? && @enrollment.present? && @lesson.slides.collect{|s| s[:questions]}.length > 0)
        if(@enrollment.status?(@quiz) == :complete)
          resultsContent = %Q(<h1>Lesson Results</h1><div class="container" id="quiz-results">
            #{@enrollment.quiz_responses[@quiz][:results].select{|e| e == :correct}.count} of #{@enrollment.quiz_responses[@quiz][:results].select{|e| e == :correct || e == :incorrect}.count} correct.
            <br>Score:#{@enrollment.quiz_responses[@quiz][:score]}
          </div>).html_safe
        else
          resultsContent =%Q(<h1>Lesson Results</h1><div class="container" id="quiz-results">

        </div>).html_safe
        end

    %>
      <%= render "slide",lesson:@lesson, index:@lesson.slides.length, slide:{title:"Quiz Results",content:resultsContent, horizontal_alignment:"justify-content-center", vertical_alignment:"slide-centered"} %>
    <% end %>
  </div>
  <a class="carousel-control-prev" href="#lessonCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#lessonCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<% if(@enrollment.present? && @enrollment.status?(@quiz) == :in_progress)
  testInProgressHandler = %Q($('#lessonCarousel').on('slid.bs.carousel', function (e) {
      if($("form",e.relatedTarget).length > 0 && $($("input",e.relatedTarget)[1]).attr("disabled") != "disabled")
      {
        hideNext()
      }
      else
      {
        showNext()
      }
  })).html_safe
else
testInProgressHandler = ""
end %>
<script type="text/javascript">
  hideNext = ()=>{
    $(".carousel-control-next").hide()
  }
  showNext = ()=>{
    $(".carousel-control-next").show()
  }
  $('#lessonCarousel').on('slid.bs.carousel', function (e) {
      if(e.to == $(".carousel-item").length-1)
      {
        $(".chapterLesson").show()
      }
      else{ $(".chapterLesson").hide()  }
  })
  $("body").ready(()=>{
    $("#lessonCarousel").carousel({
      pause:true
    })
    <%= testInProgressHandler %>
    $(".carousel-item").each((i,slide)=>{
      $(".submitAnswers",slide).click((e)=>{
        e.preventDefault();
        form = e.currentTarget.parentElement.parentElement
        $.ajax({
              url: $(form)[0].action,
              data: $(form).serialize(),
              type: "POST",
              success:(response)=>{
                // debugger
                 keys = Object.keys(response)
                $(keys).each((i,key)=>{
                  if(!isNaN(parseInt(key)))
                  {
                    questionDiv = form.parentElement.parentElement
                    key = parseInt(key)
                    if(response[key].result == "correct")
                    {
                      label = $("label", questionDiv)[0]
                      question  = label.textContent
                      resultIndicator = `<span class='text-success' title='Correct' style='font-size:x-large'>✓</span>`
                      $(label).html(`${resultIndicator}${question}`)
                      $(".form-check-input",questionDiv).attr('disabled',true);
                      $("input",questionDiv).attr('disabled',true);
                    }
                    if(response[key].result == "incorrect")
                    {
                      label = $("label", questionDiv)[0]
                      question  = label.textContent
                      resultIndicator = `<span class='text-danger' title='Correct' style='font-size:x-large'>&times</span>`
                      $(label).html(`${resultIndicator}${question}`)
                      $(".form-check-input",questionDiv).attr('disabled',true);
                      $("input",questionDiv).attr('disabled',true);
                      correctAnswer = `Correct Answer:${response[key].correct_answer}`
                      $(questionDiv).append(correctAnswer)
                    }
                  }
                  if(response["score"])
                  {
                    summary = `${response["correct"]} of ${response["correct"]+response["incorrect"]} correct.
                    <br>Score:${response["score"]}`
                    $("#quiz-results").html(summary)
                  }

                })
                showNext()
              }
          });
      })
    })
  })
</script>


<style media="screen">
  .slide-centered{
    display:table;
    width:100%;
    height:100%;
  }
  .carousel-control-next
  {
    background-color: rgb(75, 19, 16);
    height:24px;
    border-radius: .25rem;
    margin-top:15%;
    opacity: 1;
  }
  .carousel-control-prev
  {
    background-color: rgb(75, 19, 16);
    height:24px;
    border-radius: .25rem;
    margin-top:15%;
    opacity: 1;
  }
  .carousel-inner
  {
    margin-left: 14.5%;
    height:400px;
  }
  .slide-centered p{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }
  .slide-container{
    display: flex;
    flex-direction: row;
    align-items:flex-start;
  }
  .form-check label
  {
    margin-left: 10px;
  }
  .form-check-label
  {
    padding-left: 10px;
  }
</style>
