<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Current Chapter</th>
      <!-- <th colspan="1"></th> -->
    </tr>
  </thead>

  <tbody>
    <% enrollments.each do |enrollment|; student = enrollment.user %>
      <% if(enrollment.present? && (enrollment.invoice.nil? || enrollment.invoice.paid?) || show_unpaid) %>
        <tr>
          <td> <%= student.name %> </td>
          <td> <%= student.email %> </td>
          <% if(enrollment.current_chapter.present?) %>
            <td> <%= enrollment.current_chapter.name %> </td>
          <% else %>
            <td> &nbsp </td>
          <% end %>
          <!-- <td></td> -->
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
