<%= toolbar([link_to( 'New Course', new_course_path, class: 'btn btn-sm btn-default')]) %>
<h1>Courses</h1>
<% if(current_user.present? && current_user.isStaff?) %>
  <% fields = [:name, :description, :visibility];edit=true; delete=true %>
<% else %>
  <% fields = [:name, :description]; edit=false; delete=false %>
<% end %>
<%= render(TableComponent.new(fields:[:title])) do |component| %>
  <% component.with(:header) do %>
      <%= RecordComponent.new(fields:[:name, :description], edit:edit,delete:delete).header %>
    <% end %>
  <% component.with(:body) do %>
    <% @courses.each do |course|
     if((current_user.present? && current_user.isStaff? || current_user.present? && current_user.courses.include?(course)) || course.visibility == "Public")
        viewText = "View"
      else
        viewText = "Learn More"
      end %>
      <%= render RecordComponent.new(record:course,fields:[:name, :description],show:viewText, edit:edit,delete:delete) %>
    <% end %>
  <% end %>
  <% component.with(:placeholder) do %>
    There are no courses yet.
  <% end %>
<% end %>
