  <h1> <%= @file.filename %> </h1>
  <video-js id="videoPlayer" class="vjs-big-play-centered" controls>
    <source src=<%= @gallery.get_url(@file) %> type="video/mp4">
  Videos are not supported in this browser. Please download a <a href="https://browsehappy.com/">Modern web browser.</a>
  </video-js>
<script type="text/javascript">
  $(()=>{
    videojs($('#videoPlayer')[0])
  })
</script>
