// Place all the styles related to the helps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
a {
    color:#fe4110;
}
a:visited {
  color: #fe4110;
}
a:hover {
  color:red;
}
