
<%= toolbar([link_to('New Email', new_email_path,class:"btn-sm btn-default")]) %>
<h1>Emails</h1>
<% fields = [:name_titleize, :subject];edit=true; delete=true %>
<%= render(TableComponent.new(records:@emails,fields:fields, edit:edit,delete:delete)) do |component| %>
  <% component.with(:header) do %>
    <%= component.table_header(fields:[:name, :subject]) %>
  <% end %>

  <% component.with(:placeholder) do %>
    There are no emails yet.
  <% end %>
<% end %>
<br>
