<%= toolbar([back_button(facebook_videos_path), edit_button(edit_facebook_video_path(@facebook_video))]) %>
<p id="notice"><%= notice %></p>
<div class="fb-video" data-href="<%= @facebook_video.video_url %>" data-show-text="false" data-width="800px" style="800"><%= @facebook_video.citation %></div>
<style media="screen">
  .fb-video{
    margin-left: 16%;
  }
</style>
