<!DOCTYPE html>
<html>
  <head>
    <%= render "shared/items_for_head" %>
  </head>
  <body>
    <%= render "shared/nav" %>
    <%= render "shared/flash_messages" %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
  <script src="https://vjs.zencdn.net/7.7.5/video.js"></script>
  <script type="text/javascript">
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
      $('[data-toggle="tooltip"]').click((e)=>{
        e.preventDefault()
      })
    })
  </script>
</html>
