<!DOCTYPE html>
<html>
  <head>
    <%= render "shared/items_for_head" %>
  </head>

  <body>
    <%= render "shared/nav" %>
    <%= render "shared/flash_messages" %>
    <%= yield %>
  </body>
  <script src="https://vjs.zencdn.net/7.7.5/video.js"></script>
</html>
