<h1>My Courses</h1>
<%= render(TableComponent.new(records:@enrollments,fields:[:course_name,:course_description,:user_name], show: :course, edit: :course, delete: :course)) do |component| %>

  <% component.with(:header) do %>
    <%= component.table_header(fields:["Course", "Description", "Student"], show:component.show, edit:component.edit, delete:component.delete) %>
  <% end %>
  <% component.with(:placeholder) do %>
  You have no courses yet.
  <% end %>
<% end %>
