<h1><%= @user.name %></h1>
<div class="container">
  <% if(@user.breeze_data.present?) %>
  <img src="<%= @user.image_url %>" alt="<%= @user.name %> Profile Image">
  <% end %>
</div>
<div class="container">
Email: <%= @user.email %><br>
</div>
